.footer {
  text-align: center;
  background-color: var(--color-midnightblue);
  background: linear-gradient(180deg, var(--color-blue), var(--color-orange));
  padding: 4rem;
  color: var(--color-ghostwhite);
  letter-spacing: 0.15rem;
  box-shadow: 10px 5px 5px var(--color-midnightblue);
}

.footer {
  border-bottom: 1px solid black;
}
