/* ANCHOR Main settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

/* ANCHOR Custom Properties */
body {
  --color-black: #141313;
  --color-white: #ffffff;
  --color-ghostwhite: #f8f8ff;
  --color-grey: #898989;
  --color-darkorange: #ff8c00;
  --color-purple: #cb06d9;
  --color-midnightblue: #191970;
  --color-blue: #0000ff;
  --color-orange: #ffa500;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-GhostWhite);
  color: var(--color-black);
}

header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  cursor: pointer;
}
