body > header {
  text-align: center;
  background-color: var(--color-midnightblue);
  background: linear-gradient(180deg, var(--color-blue), var(--color-orange));
  padding: 4rem;
  color: var(--color-ghostwhite);
  letter-spacing: 0.15rem;
}

.header__paragraph {
  padding: 1rem;
}

.header__paragraph::after {
  content: "😎";
}

.header__nav > ul {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

nav ul {
  padding: 2rem;
  list-style: none;
}

ul li a {
  color: var(--color-ghostwhite);
  text-decoration: none;
}
/*
ul li a:hover {
  color: var(--color-midnightblue);
}

ul li a:active {
  color: var(--color-orange);
}
*/
