.header {
  text-align: center;
  background-color: var(--color-midnightblue);
  background: linear-gradient(180deg, var(--color-blue), var(--color-orange));
  padding: 4rem;
  color: var(--color-ghostwhite);
  letter-spacing: 0.15rem;
  box-shadow: 10px 5px 5px var(--color-midnightblue);
}

.header__heading {
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  padding-bottom: 1rem;
}

.header__subheading {
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.header__paragraph {
  padding: 1rem;
}

.header__subheading::after {
  content: "😎";
}

.header:focus-within .btn__nav {
  transform: scale(1.5);
}
/*
.header:hover {
  transform: scale(1.1);
}
*/
.header:hover .btn__nav {
  transform: scaleX(0.5);
  transform: scaleY(1.5);
}

.header__nav > ul {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

nav ul {
  padding: 2rem;
  list-style: none;
}

ul li a {
  color: var(--color-ghostwhite);
  text-decoration: none;

  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}

.nav-link:focus {
  color: var(--color-ghostwhite);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.box__btn {
  position: relative;
}

.btn__nav {
  border: 1px solid var(--color-orange);
  border-radius: 1rem;
  font-size: 0.7rem;

  position: absolute;
  left: 60rem;
  bottom: 22rem;
  padding: 0.2rem;
  border-radius: 0.5rem;

  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.btn__nav:hover {
  color: var(--secondary-color);
  background-color: var(--color-midnightblue);
}

/* ANCHOR Desktop First Breackpoints*/

@media screen and (max-width: 1024px) {
  .header__heading {
    font-size: 3rem;
  }

  .header__subheading {
    font-size: 1.2rem;
  }

  .btn__nav {
    position: relative;
    top: -20rem;
    left: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .header__heading {
    font-size: 2rem;
  }

  .header__subheading {
    font-size: 0.9rem;
  }

  .btn__nav {
    position: relative;
    top: -16rem;
    left: 20rem;
  }
}

@media screen and (max-width: 620px) {
  .header__heading {
    font-size: 1.5rem;
  }

  .header__subheading {
    font-size: 0.8rem;
  }

  .btn__nav {
    position: relative;
    top: -16rem;
    left: 15rem;
  }

  .header__nav > ul {
    display: flex;
    flex-direction: column;
  }
}

/* ANCHOR Mobile First Breackpoints*/
/*
@media screen and (min-width: 620px) {
  .header__heading {
    font-size: 2rem;
  }

  .header__subheading {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header__heading {
    font-size: 3rem;
  }

  .header__subheading {
    font-size: 1.5rem;
  }

  .btn__nav {
    position: sticky;
    left: 0;
    padding: 0.1rem;
  }
}


@media screen and (min-width: 1024px) {
  .header__heading {
    font-size: 3rem;
  }

  .header__subheading {
    font-size: 1.5rem;
  }

  .btn__nav {
    position: sticky;
    left: 0;
    padding: 0.1rem;
  }
}
*/
