/* ANCHOR Main settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

/* ANCHOR Custom Properties */
body {
  --color-black: #141313;
  --color-white: #e2e2e2;
  --color-GhostWhite: #f8f8ff;
  --color-grey: #898989;
  --color-red: #fc1a52;
  --color-purple: #cb06d9;
  --color-MidnightBlue: #191970;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-GhostWhite);
  color: var(--color-black);
}

header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
}

a {
  cursor: pointer;
}
