.main {
  padding: 4rem 0;
  letter-spacing: 0.1rem;
}

.main__profile-heading,
.main__experience-title,
.skills__heading,
.contact__heading {
  text-shadow: 3px 1px 2px var(--color-grey);
  font-size: 2.5rem;
}

.main__experience-title,
.skills__heading,
.contact__heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main__profile-heading {
  text-align: center;
  padding-bottom: 1rem;
}

.main__profile-subheading {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.main__profile-subheading::after {
  content: "🚀";
}

.main > * {
  border-bottom: 1px solid black;
}

.main > *:last-child {
  border-bottom: none;
}

.main__experience-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main__experience-heading {
  display: inline-block;
  padding-right: 1rem;
}

.main__experience-subheading {
  display: inline-block;
}

.main__experience-paragraph {
  padding-top: 1rem;
  display: inline-block;
}

section + section {
  padding: 1.5rem 0;
}

.main__experience__paragraph {
  padding-bottom: 1rem;
}

.skills__heading::after {
  content: "💻";
}

.skills__subheading {
  padding: 1rem 0;
}

.skills__subheading + ul {
  padding: 0 4rem;
}

.contact__heading + ol {
  padding: 0 4rem;
}

.header__dark_mode_btn {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* ANCHOR Desktop First Breackpoints*/

@media screen and (max-width: 1024px) {
  .main__profile-heading,
  .main__experience-title,
  .skills__heading,
  .contact__heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main__profile-heading,
  .main__experience-title,
  .skills__heading,
  .contact__heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .main__profile-heading,
  .main__experience-title,
  .skills__heading,
  .contact__heading {
    font-size: 1rem;
  }
}
